/* ----------------------------------------------------------------- Fonts */
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.eot);
  src: url(../fonts/Lato-Regular.ttf) format("embedded-opentype");
  src: url(../fonts/Lato-Regular.woff) format("truetype");
  src: url(../fonts/Lato-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.eot);
  src: url(../fonts/Roboto-Regular.ttf) format("embedded-opentype");
  src: url(../fonts/Roboto-Regular.woff) format("truetype");
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}
/* ----------------------------------------------------------------------------------  General */
body {
  font-family: "Lato";
  direction: ltr;
}
/* -------------------------------------------------------------------------------------  Navbar */
.menu-bar-container {
  left: 3rem;
}
.menu-bar-png {
  left: 3rem;
}
.menu-bar-hover {
  left: 3rem;
}
.button1 {
  left: 0;
  border-right: 2px solid #fdb400;
}
.ancher {
  transform: rotate(90deg);
}
.navbutton span {
  transform-origin: left;
}
/* ---------------------------------Menu---------------------------------------------- */
#nav-main {
  left: -35rem;
  border-right: 2px solid #fdb400;
  direction: ltr;
}
.mid-nav {
  margin-left: 1.5rem;
}
.bottom-nav {
  margin: 0 0 2rem 1.5rem;
}
.alist:after {
  left: 5px;
}
.alist:hover {
  margin-left: 1rem;
}
#navemail {
  margin-left: 2rem;
}
#close-navbutton {
  right: 0;
}
/* -------------------------------------------------------  Fixed Logo */
.fixed-logo {
  right: 1.5rem;
}
/* -------------------------------------------------------  Filters */
#sticky-button {
  left: 4.5rem;
  padding-right: 2rem;
  font-family: "roboto";
}
#filters {
  left: 4.5rem;
}
.fas.fa-angle-up {
  right: 5%;
}
.fas.fa-angle-down {
  right: 5%;
}
.is-checked {
  transform: translateX(10px);
}
#filters a:not(.is-checked):hover {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
/* ------------------------------------------------------- Shapes */
.one-top-shape {
  left: 20rem;
}
.two-bottom-shape {
  left: 60rem;
}
.two-top-shape {
  right: 90rem;
}
.three-top-shape {
  right: 40rem;
}
/* ------------------------------------------------------- Horizontal Page Settings */
.outer-wrapper {
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
}
.wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
/* -------------------------------------------------------------------- Section 1 : About Us */
.slide-one {
  margin-right: 2rem;
}
.description-cont {
  padding: 4.5rem 1rem 0 7rem;
}
.sample-description {
  padding-right: 15px;
}
.sample-description h1 {
  text-align: left;
}
/* --------------------------------------------------------------  Section 2 */
#load-more,
#load-less {
  transform: rotate(-90deg);
}
/* -----------------------------------------------------------------------  Section 3 : Work 2 */
.gallery2-container:after {
  left: -4px;
  right: 0px;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(156, 14, 80, 1) 90%
  );
}
.img-details {
  text-align: left;
}
.scroll-hint {
  right: 15px;
  font-family: "roboto";
}
/* -------------------------------------------------------------------------- footer */
.slide-four {
  background-image: url(https://imazh.studio/img/side-bg-ltr.png);
}
.footer-chat:hover {
  transform: translateX(10px);
}
.footer-tel {
  margin-right: 2rem;
}
.footer-social a {
  margin-left: 1rem;
}
/* -------------------------------------------------------------------------- Scroll To Top */
.to-top {
  left: -3rem;
}
.reveal {
  left: 12px;
}
/* ----------------------------------------------------------------------------Modal */
.splide__arrow--prev {
  left: -3rem !important;
}
.splide__arrow--next {
  right: -3rem !important;
}
/* ------------------------------------------------------------------- Media Query */
@media (max-width: 575.98px) {
  .menu-bar-container,
  .menu-bar-png,
  .menu-bar-hover {
    left: 1.6rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-bar-container,
  .menu-bar-png,
  .menu-bar-hover {
    left: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu-bar-container,
  .menu-bar-png,
  .menu-bar-hover {
    left: 2rem;
  }
}
@media (min-width: 992px) {
  .btt.fa {
    transform: rotate(-90deg);
  }
}
