/* ----------------------------------------------------------------- Fonts */
@font-face {
  font-family: "iransans";
  src: url(../fonts/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb.ttf) format("embedded-opentype");
  src: url(../fonts/IRANSansWeb.woff) format("truetype");
  src: url(../fonts/IRANSansWeb.woff2) format("woff2");
}
@font-face {
  font-family: "kalameh";
  src: url(../fonts/KalamehWeb_Regular.eot);
  src: url(../fonts/KalamehWeb_Regular.ttf) format("embedded-opentype");
  src: url(../fonts/KalamehWeb_Regular.woff) format("truetype");
  src: url(../fonts/KalamehWeb_Regular.woff2) format("woff2");
}
/* ----------------------------------------------------------------------------------  General */
body {
  font-family: "iransans";
  direction: rtl;
}
/* ----------------------------------------------------------------------------- PreLoader */
.preloader h3::before {
  content: "منتظر بمانید";
}
@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(115%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
/* -------------------------------------------------------------------------------------  Navbar */
.menu-bar-container {
  right: 3rem;
}
.menu-bar-png {
  right: 3rem;
}
.menu-bar-hover {
  right: 3rem;
}
.sidebar-button {
  right: 0;
  border-left: 2px solid #fdb400;
  font-family: "iransans";
}
.sidebar-button a {
  transform: rotate(-90deg);
  right: 3px;
}
.sidebar-button span {
  transform-origin: right;
}
/* ---------------------------------Menu---------------------------------------------- */
#nav-main {
  right: -35rem;
  border-left: 2px solid #fdb400;
  direction: rtl;
}
.mid-nav {
  margin-right: 1.5rem;
}
.bottom-nav {
  margin: 0 1.5rem 2rem 0;
}
.mid-nav a:after {
  right: 5px;
}
.mid-nav a:hover {
  margin-right: 1rem;
}
.bottom-nav span:nth-child(2) {
  margin-right: 2rem;
}
#close-navbutton {
  left: 0;
}
/* -------------------------------------------------------  Fixed Logo */
.fixed-logo {
  left: 1.5rem;
}
/* -------------------------------------------------------  Filters */
#sticky-button {
  right: 4.5rem;
  padding-left: 2rem;
  font-family: "iransans";
}
#filters {
  right: 4.5rem;
}
.fas.fa-angle-up {
  left: 5%;
}
.fas.fa-angle-down {
  left: 5%;
}
.is-checked {
  transform: translateX(-10px);
}
#filters a:not(.is-checked):hover {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* ------------------------------------------------------- Shapes */
.one-top-shape {
  right: 20rem;
}
.two-bottom-shape {
  right: 60rem;
}
.two-top-shape {
  left: 90rem;
}
.three-top-shape {
  left: 40rem;
}
/* ------------------------------------------------------- Horizontal Page Settings */
.outer-wrapper {
  transform: rotate(90deg) translateX(100vh);
  transform-origin: top right;
}
.wrapper {
  transform: rotate(-90deg) translateY(-100vh);
  transform-origin: top right;
}
/* -------------------------------------------------------------------- Section 1 : About Us */
.slide-one {
  margin-left: 2rem;
}
.description-cont {
  padding: 4.5rem 7rem 0 1rem;
}
.sample-description {
  padding-left: 15px;
}
.sample-description h1 {
  text-align: right;
  font-family: "kalameh";
}
/* --------------------------------------------------------------  Section 2 */
#load-more,
#load-less {
  transform: rotate(90deg);
  font-family: "iransans";
}
/* -----------------------------------------------------------------------  Section 3 : Work 2 */
.slide-three {
  margin-right: 2rem;
}
.gallery2-container:after {
  right: -4px;
  left: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(156, 14, 80, 1) 90%
  );
}
.img-details {
  text-align: right;
}
.scroll-hint {
  left: 15px;
  font-family: "iransans";
}
/* -------------------------------------------------------------------------- footer */
.slide-four {
  background-image: url(https://imazh.studio/img/side-bg.png);
}
.footer-details h3:hover {
  transform: translateX(-10px);
}
.footer-tel {
  margin-left: 2rem;
}
.footer-social a {
  margin-right: 1rem;
}
/* -------------------------------------------------------------------------- Scroll To Top */
.to-top {
  right: -3rem;
}
.reveal {
  right: 12px;
}
/* ----------------------------------------------------------------------------Modal */
.splide__arrow--prev {
  right: -3rem !important;
}
.splide__arrow--next {
  left: -3rem !important;
}
